.container {
    width: 100%; // Container genişliği
    max-width: 1200px; // Maksimum genişlik, istediğiniz değere göre değiştirilebilir
    margin: 0 auto; // İçeriği yatayda ortalamak için
    padding: 20px; // İçerik ile container arasında bir boşluk bırakmak için, isteğe bağlı olarak değiştirilebilir
}