@import "../variables/index";

.header {

  @media screen and (max-width: $mobile) {
    background-color: $primary;
  }
  .header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;



    .header-col-right {
      display: flex;
      align-items: center;
      gap: 40px;

      .header-nav {
        .header-nav-list {
          display: flex;
          align-items: center;
          gap: 20px;

          &-item {
            &-link {
                font-size: $xs;
               font-weight: 600;
               line-height: 24px;
               letter-spacing: 0.2px;
            }

            &-link:hover {
                color: $primary;
            }
          }
        }

        @media screen and (max-width: $mobile) {
          display: none;
        }
      }

      .header-buttons{
        display: flex;
        align-items: center;
        gap:20px;
        &-button {
            cursor: pointer;
            color:white;
            display: flex;
            align-items: center;
            font-size: $md;
        }

        &-button.mobile-menu{
            display: none;

            @media screen and (max-width: $mobile) {
              display: flex;
              align-items: center;
            }
        }



        &-button:hover{
            color: $primary;
        }
      }
    }
  }

  .header-mobile-menu{
    padding: 80px 20px;

    @media screen and (min-width: $mobile) {
      display: none;
    }
    

    &-list{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      &-item{
        color: white;
        font-size:30px;
        line-height: 45px;
        letter-spacing: 0.2px;

        &:hover{
          color: $warning;
        }
        
      }
    }
  }
}
