/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Normalize list styles */
ol,
ul {
  list-style: none;
}

/* Remove default styling on anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default styling on button elements */
button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* Remove default styling on form elements */
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

/* Remove default styling on media elements */
img,
audio,
video {
  display: block;
  max-width: 100%;
}

/* Box sizing to avoid width/height discrepancies */
* {
  box-sizing: border-box;
}

